Repository SimuCorps/corvy-sdk, pull requests merged in 2025-05, with the labels that each got.

#9 Update Python SDK part of the readme
  README.md
Labels: documentation, python

#12 1.7: documentation and seperation
  README.md
  python/docs/event_list.md
  python/docs/example_bot.py
  python/sdk/setup.py
  python/sdk/src/__main__.py
  python/sdk/src/command_parsing.py
  python/sdk/src/corvybot.py
  python/sdk/src/default_logger.py
  python/sdk/src/messages.py
  python/sdk/src/partials.py
Labels: documentation, enhancement, python

#13 Update the JavaScript SDK
  README.md
  javascript/corvy-sdk.js
  javascript/docs/command-handler-example/commands/ping.js
  javascript/docs/command-handler-example/simple-bot.js
  javascript/docs/simple-bot.js
  javascript/example-bot.js
  javascript/package.json
  javascript/sdk/corvy.d.ts
  javascript/sdk/corvy.js
Labels: enhancement, javascript

#14 pySDK: move to more modern setuptools configuration
  README.md
  python/.gitignore
  python/sdk/PYPI_README.md
  python/sdk/pyproject.toml
  python/sdk/setup.py
  python/sdk/src/corvy_sdk/__init__.py
  python/sdk/src/corvy_sdk/command_parsing.py
  python/sdk/src/corvy_sdk/corvybot.py
  python/sdk/src/corvy_sdk/default_logger.py
  python/sdk/src/corvy_sdk/messages.py
  python/sdk/src/corvy_sdk/partials.py
Labels: documentation, enhancement, python

#15 pysdk 1.8.3: fix some minor things
  python/sdk/pyproject.toml
  python/sdk/src/corvy_sdk/__init__.py
  python/sdk/src/corvy_sdk/command_parsing.py
  python/sdk/src/corvy_sdk/corvybot.py
Labels: bug, python
